body {
    margin: 0;
    padding: 0;
    
    display: grid;
    justify-items: center;
}

main {
    display: grid;
    justify-items: center;

    gap: 50px;
}

.board {
    display: grid;
    justify-items: center;

    grid-template-columns: 1fr 1fr;
}

.gameboard {
    border: 2px solid black;

    display: grid;
    justify-items: center;

    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.cell {
    height: 24px;
    width: 24px;
    border: 1px solid black;
}

.ship {
    background-color: blue;
}

.attacked {
    background-color: black;
}

.ship.attacked {
    background-color: red;
}

.newShipPreview {
    background-color: aqua;
}